# /etc/hosts.allow
# {{ ansible_managed }}
#
# hosts.allow
#       This file contains access rules which are used to
#       allow or deny connections to network services that
#       either use the tcp_wrappers library or that have been
#       started through a tcp_wrappers-enabled xinetd.
#
#       See 'man 5 hosts_options' and 'man 5 hosts_access'
#       for information on rule syntax.
#       See 'man tcpd' for information on tcp_wrappers
#
{%  import 'macros.hosts.j2' as m_hosts with context %}
{%  if etc_hosts_extras is defined
    and etc_hosts_extras is mapping %}
{%    set etc_hosts_extra_allow = etc_hosts_extras[ansible_hostname]['etc_hosts_allow']
          if ansible_hostname is defined
          and ansible_hostname != "localhost"
          and etc_hosts_extras[ansible_hostname] is defined
          and etc_hosts_extras[ansible_hostname] is mapping 
          and etc_hosts_extras[ansible_hostname]['etc_hosts_allow'] is defined
          else none %}
{%    if etc_hosts_extra_allow is not none
      and etc_hosts_extra_allow is not string
      and etc_hosts_extra_allow is iterable %}   

{{ '#*%s*'|format(ansible_hostname)|trim }}
{{  m_hosts.dump_acls( etc_hosts_extra_allow ) }}
{%-   endif %}
{%    for gname in group_names|sort
          if group_names is defined
          and etc_hosts_extras[gname] is defined
          and etc_hosts_extras[gname] is mapping 
          and etc_hosts_extras[gname]['etc_hosts_allow'] is defined %}
{%      set etc_hosts_extra_allow = etc_hosts_extras[gname]['etc_hosts_allow'] %}
{%      if etc_hosts_extra_allow is not none
        and etc_hosts_extra_allow is not string
        and etc_hosts_extra_allow is iterable %}   

{{ '#*%s*'|format(gname)|trim }}
{{  m_hosts.dump_acls( etc_hosts_extra_allow ) }}
{%-     endif %}
{%    endfor %}
{%  endif %}
{%  if etc_hosts_for_host is defined
    and etc_hosts_for_host is mapping
    and etc_hosts_for_host.etc_hosts_allow is defined
    and etc_hosts_for_host.etc_hosts_allow is not none
    and etc_hosts_for_host.etc_hosts_allow is not string
    and etc_hosts_for_host.etc_hosts_allow is iterable %}

{{  m_hosts.dump_acls( etc_hosts_for_host.etc_hosts_allow ) }}
{%- endif %}

