# /etc/hosts.allow
# {{ ansible_managed }}
#
# hosts.allow
#       This file contains access rules which are used to
#       allow or deny connections to network services that
#       either use the tcp_wrappers library or that have been
#       started through a tcp_wrappers-enabled xinetd.
#
#       See 'man 5 hosts_options' and 'man 5 hosts_access'
#       for information on rule syntax.
#       See 'man tcpd' for information on tcp_wrappers
#
{%  import 'macros.hosts.j2' as m_hosts with context %}
{%  if etc_hosts.allow|d(none) is iterable
    and etc_hosts.allow is not string
    and etc_hosts.allow|length > 0 %}

{{  m_hosts.dump_acls( etc_hosts.allow ) }}
{%  endif %}

