# /etc/hosts
# {{ ansible_managed }}
{%  import 'macros.hosts.j2' as m_hosts with context %}
{%  set hostname_and_fqdn = '%s %s'|format(
      ( ansible_hostname|d('')
        if ansible_hostname|d('') not in ['localhost','localhost.localdomain',ansible_fqdn|d('')]
        else '' ),
      ( ansible_fqdn|d('')
        if ansible_fqdn|d('') not in ['localhost','localhost.localdomain']
        else '' )
      )|trim %}

# Loopback
{%  set localhosts = '%s localhost localhost.localdomain'|format(hostname_and_fqdn)|trim %}
127.0.0.1           {{ localhosts }} localhost4 localhost4.localdomain4
{%  if etc_hosts_using_ipv6|d(true) == true %}

# The following lines are desirable for IPv6 capable hosts
::1                 {{ localhosts }} localhost6 localhost6.localdomain6
fe00::0             ip6-localnet
ff00::0             ip6-mcastprefix
ff02::1             ip6-allnodes
ff02::2             ip6-allrouters
ff02::3             ip6-allhosts
{%  endif %}
{%  if etc_hosts_using_ip_by_hostname|d(true) == true
    and hostname_and_fqdn|string|trim|length > 0 %}

# Entries for all IP addresses of this host are as follows:
{%    if etc_hosts_using_ipv4|d(true) == true
      and ansible_all_ipv4_addresses|d(none) is iterable
      and ansible_all_ipv4_addresses is not string
      and ansible_all_ipv4_addresses|length > 0 %}
## IPv4
{%      for ipaddr in (ansible_all_ipv4_addresses|d([]))
            if ipaddr not in [ '127.0.0.1' ] %}
{{ '%-19s %s %s'|format(ipaddr,ansible_hostname,ansible_fqdn)|trim }}
{%      endfor %}
{%    endif %}
{%    if etc_hosts_using_ipv6|d(true) == true
      and ansible_all_ipv6_addresses|d(none) is iterable
      and ansible_all_ipv6_addresses is not string
      and ansible_all_ipv6_addresses|length > 0 %}
## IPv6
{%      for ipaddr in (ansible_all_ipv6_addresses|d([]))
            if ipaddr not in [ '::1' ] %}
{{ '%-39s %s %s'|format(ipaddr,ansible_hostname,ansible_fqdn)|trim }}
{%      endfor %}
{%    endif %}
{%  endif %}
{%  if etc_hosts.hosts|d(none) is iterable
    and etc_hosts.hosts is not string
    and etc_hosts.hosts|length > 0 %}

# The host name database is as follows:
{{  m_hosts.dump(
      etc_hosts.hosts|d([]),
      ipv4_enabled=etc_hosts_using_ipv4|d(true),
      ipv6_enabled=etc_hosts_using_ipv6|d(true) ) }}
{%  endif %}

