{#----------------------------------------------------------------------
 #  name: macros.hosts.j2
 #---------------------------------------------------------------------#}

{%  macro dump( h_list = [], ipv4_enabled = true, ipv6_enabled = true ) -%}
{%    for h_item in (h_list if h_list is iterable and h_list is not string else [])
          if h_item|d(none) is not none %}
{%      if h_item is string %}
{{ '# %s'|format(h_item)|trim if h_item|match('^(-+|)$') == false else '' }}
{%      elif h_item is mapping %}
{%        set commented = ''
              if h_item.disabled|d(false) == false else '#' %}
{%        for ipaddr, name in h_item|dictsort(false)
              if ipaddr|ipaddr
              and name|d(none) is not none
              and ( (ipaddr|ipv4 and ipv4_enabled|d(true) == true)
                 or (ipaddr|ipv6 and ipv6_enabled|d(true) == true) ) %}
{{ ('%s%-19s %s' if ipaddr|ipv4 else '%s%-39s %s')|format(
   commented,ipaddr,(name if name is string else name|join(' ')))|trim }}
{%        endfor %}
{%      endif %}
{%    endfor %}
{%  endmacro -%}

{%  macro dump_acls( acls = [] ) -%}
{%    for acl in (acls if acls is iterable and acls is not string else [])
          if acl|d(none) is mapping %}
{%      for service, entries in acl|dictsort(false)
            if service|d('')|string|trim|length > 0 %}
{%        set entries = entries
              if entries|d(none) is iterable and entries is not string
              else ['ALL'] %}
{%        for entry in entries if entry is not none %}
{%          if entry is string %}
{{ '%-14s: %s'|format(service|trim,entry|trim)|trim }}
{%          elif entry.clientlist|d(none) is not none %}
{%            set clientlist = entry.clientlist|join(', ')|trim
                  if entry.clientlist is iterable
                  and entry.clientlist is not string
                  else entry.clientlist|trim %}
{%            set line_cont = '\\'
                  if entry.option|d(none) is not none
                  else '' %}
{%            if line_cont|length > 0 and entry.option is string %}
{%              if clientlist|length <= 32 and entry.option|length <= 16 %}
{{ '%-14s: %-48s:%s'|format(service,clientlist,entry.option)|trim }}
{%              else %}
{{ '%-14s: %s %s'|format(service,clientlist,line_cont)|trim }}
{{ '%16s:%s'|format('',entry.option)|trim }}
{%              endif %}
{%            elif line_cont|length > 0 and entry.option is iterable %}
{{ '%-14s: %s %s'|format(service,clientlist,line_cont)|trim }}
{%              for option in entry.option if option|d(none) is not none %}
{{ '%16s'|format('')}}{{ ':%s %s'|format(option,('\\' if loop.index < loop.length else ''))|trim }}
{%              endfor %}
{%            endif %}
{%          endif %}
{%        endfor %}
{%      endfor %}
{%    else %}
{{ '# %s'|format(acl|string)|trim if acl|match('^-+$') == false else '' }}
{%    endfor %}
{%  endmacro -%}

