# resolv.conf
# {{ ansible_managed }}

{%  if resolver_domain|d(none) is string and resolver_domain|length > 0 %}
domain {{ resolver_domain|trim }}
{%  endif %}
{%  if resolver_search|d(none) is string and resolver_search|length > 0 %}
search {{ resolver_search|trim }}
{%  endif %}
{%  if resolver_nameservers|d(none) is iterable and resolver_nameservers is not string and resolver_nameservers|length > 0 %}

{%    for nameserver in resolver_nameservers|d([])|sort if nameserver|ipaddr %}
nameserver {{ nameserver|trim }}
{%    endfor %}
{%  endif %}
{%  if resolver_sortlist|d(none) is iterable and resolver_sortlist|length > 0 %}

sortlist {{ resolver_sortlist if resolver_sortlist is string else resolver_sortlist|join(' ') }}
{%  endif %}
{%  if resolver_options|d(none) is iterable and resolver_options is not string and resolver_options|length > 0 %}

{%    for option in resolver_options|d([]) if options|d(none) is not none %}
options {{ (option if option is string else option|join(' '))|trim }}
{%    endfor %}
{%  endif %}

