{#----------------------------------------------------------------------
 #  name: macros.logrotateh.j2
 #---------------------------------------------------------------------#}

{%  macro logrotate_file( parameters ) -%}
{%    set p = parameters
          if parameters is not none else none %}
{%    set p_paths = p.logfiles 
          if (p|d(none) is not none)
          and p.logfiles|d(none) is not none
          else none %}
{%    if p is not none and p_paths is not none %}
{%      if p.name|d(none) is not none %}
# {{ p.name|trim }}
{%      endif %}
{%      set p_paths = p_paths
            if p_paths is iterable and p_paths is not string
            else [ p.logfiles|string|trim ] %}
{%      for p_path in p_paths if p_path is not none %}
{{ p_path }}
{%      endfor -%}{{ "{" }}
{%      set p_cycle = p.cycle
            if p.cycle|d(none) is not none
            and p.cycle|lower|trim|match('^(dai|week|month|year)ly$')
            else none %}
{%      if p_cycle is not none %}
  {{ p.cycle|lower|trim }}
{%      endif %}
{%      set p_size = p.size
            if p.size|d(none) is not none
            and p.size|trim|match('^[1-9][0-9]*([Kk]|[Mm]|[Gg]|)$')
            else none %}
{%      if p_size is not none %}
  size {{ p.size }}
{%      endif %}
{%      set p_minsize = p.minsize
            if p.minsize|d(none) is not none
            and p.minsize|trim|match('^[1-9][0-9]*([Kk]|[Mm]|[Gg]|)$')
            else none %}
{%      if p_minsize is not none %}
  minsize {{ p_minsize }}
{%      endif %}
{%      if p.rotate|d(none) is not none and p.rotate is number %}
  rotate {{ p.rotate }}
{%      endif %}
{%      if p.start|d(none) is not none and p.start is number %}
  start {{ p.start }}
{%      endif %}
{%      if p.extension|d(none) is not none and p.extension|string|trim|match('^\..+$') %}
  extension {{ p.extension }}
{%      endif %}
{%      if p.dateext|d(none) is not none
        and p.dateext|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.dateext|string|lower|trim|match('^(no|false)$') else '' }}dateext
{%        if p.dateformat|d(none) is not none %}
  dateformat {{ p.dateformat|trim }}
{%        endif %}
{%      endif %}
{%      if p.olddir|d(none) is not none
        and (p.olddir is string or p.olddir|string|lower|trim|match('^(no|false)$')) %}
{%        set p_olddir = '%solddir %s'|format(
              ('no' if p.olddir|string|lower|trim|match('^(no|false)$') else ''),
              p.olddir)|trim %}
  {{ p_olddir }}
{%      endif %}
{%      set p_create = p.create 
            if p.create|d(none) is not none else {} %}
{%      set p_cre_m,p_cre_o,p_cre_g = (
            ( '%04o'|format(p_create.mode)
              if p_create.mode|d(none) is not none else none ),
            ( p_create.owner
              if p_create.owner|d(none) is not none else none ),
            ( p_create.group
              if p_create.group|d(none) is not none else none ) ) %}
{%      if p_cre_m|d(none) is not none
        or p_cre_o|d(none) is not none
        or p_cre_g|d(none) is not none %}
  create {{ p_cre_m|d('0644') }} {{ p_cre_o|d('root') }} {{ p_cre_g|d('root') }}
{%      elif p.create|d(none) is not none
        and p.create|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.create|string|lower|trim|match('^(no|false)$') else '' }}create
{%      endif %}
{%      if p.copy|d(none) is not none
        and p.copy|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.copy|string|lower|trim|match('^(no|false)$') else '' }}copy
{%      endif %}
{%      if p.copytruncate|d(none) is not none
        and p.copytruncate|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.copytruncate|string|lower|trim|match('^(no|false)$') else '' }}copytruncate
{%      endif %}
{%      if p.shred|d(none) is not none
        and p.shred|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.shred|string|lower|trim|match('^(no|false)$') else '' }}shred
{%        if p.shredcycles|d(none) is not none and p.shredcycles is number %}
  shredcycles {{ p.shredcycles }}
{%        endif %}
{%      endif %}
{%      if p.compress|d(none) is not none
        and p.compress|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.compress|string|lower|trim|match('^(no|false)$') else '' }}compress
{%        if p.compresscmd|d(none) is not none %}
  compresscmd {{ p.compresscmd }}
{%        endif %}
{%        if p.uncompresscmd|d(none) is not none %}
  uncompresscmd {{ p.uncompresscmd }}
{%        endif %}
{%        if p.compressoptions|d(none) is not none %}
  compressoptions {{ p.compressoptions }}
{%        endif %}
{%        if p.compressext|d(none) is not none %}
  compressext {{ p.compressext }}
{%        endif %}
{%        if p.delaycompress|d(none) is not none
          and p.delaycompress|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.delaycompress|string|lower|trim|match('^(no|false)$') else '' }}delaycompress
{%        endif %}
{%      endif %}
{%      if p.missingok|d(none) is not none
        and p.missingok|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.missingok|string|lower|trim|match('^(no|false)$') else '' }}missingok
{%      endif %}
{%      if p.ifempty|d(none) is not none
        and p.ifempty|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'not' if p.ifempty|string|lower|trim|match('^(no|false)$') else '' }}ifempty
{%      endif %}
{%      if p.mail|d(none) is not none
        and (p.mail is string or p.mail|string|lower|trim|match('^(no|false)$')) %}
{%        set p_mail = '%smail %s'|format(
              ('no' if p.mail|string|lower|trim|match('^(no|false)$') else ''),
              p.mail)|trim %}
  {{ p_mail }}
{%        if p.mailfirst|d(none) is not none
          and p.mailfirst|string|lower|trim|match('^(yes|true)$') %}
  mailfirst
{%        endif %}
{%        if p.maillast|d(none) is not none
          and p.maillast|string|lower|trim|match('^(yes|true)$') %}
  maillast
{%        endif %}
{%      endif %}
{%      if p.maxage|d(none) is not none and p.maxage is number %}
  maxage {{ p.maxage }}
{%      endif %}
{%      if p.sharedscripts|d(none) is not none
        and p.sharedscripts|string|lower|trim|match('^(yes|no|true|false)$') %}
  {{ 'no' if p.sharedscripts|string|lower|trim|match('^(no|false)$') else '' }}sharedscripts
{%      endif %}
{%      if p.firstaction|d(none) is not none %}
{%        set p_scripts = p.firstaction   
              if p.firstaction is iterable and p.firstaction is not string
              else [ p.firstaction|string ] %}
  firstaction
{%        for script in p_scripts if script is not none %}
    {{ script|trim }}
{%        endfor %}
  endscript
{%      endif %}
{%      if p.lastaction|d(none) is not none %}
{%        set p_scripts = p.lastaction   
              if p.lastaction is iterable and p.lastaction is not string
              else [ p.lastaction|string ] %}
  lastaction
{%        for script in p_scripts if script is not none %}
    {{ script|trim }}
{%        endfor %}
  endscript
{%      endif %}
{%      if p.prerotate|d(none) is not none %}
{%        set p_scripts = p.prerotate   
              if p.prerotate is iterable and p.prerotate is not string
              else [ p.prerotate|string ] %}
  prerotate
{%        for script in p_scripts if script is not none %}
    {{ script|trim }}
{%        endfor %}
  endscript
{%      endif %}
{%      if p.postrotate|d(none) is not none %}
{%        set p_scripts = p.postrotate   
              if p.postrotate is iterable and p.postrotate is not string
              else [ p.postrotate|string ] %}
  postrotate
{%        for script in p_scripts if script is not none %}
    {{ script|trim }}
{%        endfor %}
  endscript
{%      endif %}
{{ "}" }} {% if p.name|d(none) is not none %}# {{ p.name }}{% endif %}

{%    endif %}
{%  endmacro -%}

